h1{
    font-size: 40px;
    font-family: 'Satisfy', cursive;
    margin-left: 7%;
    margin-top: 10%;
}
.name-highlight{
    color: forestgreen;

  }
h2{
    font-family: 'Satisfy', cursive;
    margin-left: 7%; 
}
.name-highlight1{
    color: blueviolet;

  }
h2{
    font-family: 'Satisfy', cursive;
    margin-left: 7%; 
}
p{
    font-weight: 100;
    font-family: fantasy; 
  
}
    
    

